<div class="row">
    <aside class="col-sm-0 col-md-50 col-lg-20 col-xl-2"></aside>
    <aside class="col-sm-12 col-md-50 col-lg-80 col-xl-8">
        <div class="card">
            <article class="card-body">
                <br />
                <h4 class="card-title text-center mb-4 mt-1">ユーザ管理</h4>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>ユーザID</th>
                            <th>ユーザ名</th>
                            <th>権限</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center"><a class="btn btn-secondary">　更新する　</a></p>
            </article>
        </div>
    </aside>
    <aside class="col-sm-0 col-md-2 col-lg-2 col-xl-2"></aside>
</div>