<div class="row">
    <aside class="col-sm-0 col-md-50 col-lg-20 col-xl-2"></aside>
    <aside class="col-sm-12 col-md-50 col-lg-80 col-xl-8">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">お財布詳細</h4>
                <hr>
                <button type="button" class="btn btn-dark" id="wallet">お財布１</button>
                <br />
                <table class="table">
                    <tbody>
                        <br />
                        <tr>
                            <td>1月28日</td>
                            <td>
                                <p class="text-primary">支出</p>
                            </td>
                            <td>カテゴリー：<br />
                                金額：
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <p class="text-danger">収入</p>
                            </td>
                            <td>カテゴリー：<br />
                                金額：
                            </td>
                        </tr>
                        <tr>
                            <td>1月29日</td>
                            <td>
                                <p class="text-primary">支出</p>
                            </td>
                            <td>カテゴリー：<br />
                                金額：
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </aside>
    <aside class="col-sm-0 col-md-2 col-lg-2 col-xl-2"></aside>
</div>