<div class="row">
    <aside class="col-sm-0 col-md-20 col-lg-2 col-xl-2"></aside>
    <aside class="col-sm-12 col-md-20 col-lg-8 col-xl-8">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">お財布一覧</h4>
                <hr>
                <div class="form-group">
                </div>
                <p class="text-center"><a class="btn btn-info">　お財布登録　</a></p>
                <hr>
                <br />
                </table>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>お財布名</th>
                            <th>詳細</th>
                            <th>編集</th>
                            <th>削除</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="alert alert-danger">お財布が一件もありません。<br /></div>
                        <br />
                        <tr>
                            <td>ああああああああああああああああああああ</td>
                            <td><button type="button" class="btn btn-secondary" id="walletmore"><i class="fas fa-ellipsis-h"></i></button></td>
                            <td><button type="button" class="btn btn-info" id="walletedit"><i class="fas fa-pen"></i></button></td>
                            <td><button type="button" class="btn btn-danger" id="walletdelete"><i class="fas fa-times-circle"></i></button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="button" class="btn btn-secondary" id="walletmore"><i class="fas fa-ellipsis-h"></i></button></td>
                            <td><button type="button" class="btn btn-info" id="walletedit"><i class="fas fa-pen"></i></button></td>
                            <td><button type="button" class="btn btn-danger" id="walletdelete"><i class="fas fa-times-circle"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </aside>
    <aside class="col-sm-0 col-md-2 col-lg-2 col-xl-2"></aside>
</div>